html {
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: 'roboto-mono', monospace;
  word-break: break-word;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
