.root {
  position: absolute;
}

.spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid;

  :global {
    animation: loading 0.5s infinite linear;
  }

  .black & {
    border-color: rgba(#000, 0.25);
    border-left-color: #000;
  }

  .white & {
    border-color: rgba(#fff, 0.25);
    border-left-color: #fff;
  }

  &::after {
    border-radius: inherit;
    width: 100%;
    height: 100%;
  }
}
